<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="AlbertMage\WeChat\Api\WeAppUserManagementInterface" type="AlbertMage\WeChat\Model\WeApp\UserManagement"/>
	<preference for="AlbertMage\WeChat\Api\WeChatInterface" type="AlbertMage\WeChat\Model\WeChat"/>

    <virtualType name="AlbertMage\Notification\Model\Order\OrderPaymentCatpureNotifier" type="AlbertMage\Notification\Model\Order\Notifier">
        <arguments>
            <argument name="notifiers" xsi:type="array">
                <item name="subscribe_message" xsi:type="object">AlbertMage\WeChat\Model\WeApp\Order\Notifier</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AlbertMage\Notification\Model\Order\OrderCreateNotifier" type="AlbertMage\Notification\Model\Order\Notifier">
        <arguments>
            <argument name="notifiers" xsi:type="array">
                <item name="subscribe_message" xsi:type="object">AlbertMage\WeChat\Model\WeApp\Order\Notifier</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AlbertMage\Notification\Model\Order\OrderCancelNotifier" type="AlbertMage\Notification\Model\Order\Notifier">
        <arguments>
            <argument name="notifiers" xsi:type="array">
                <item name="subscribe_message" xsi:type="object">AlbertMage\WeChat\Model\WeApp\Order\Notifier</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AlbertMage\Notification\Model\Order\OrderExpireNoticeNotifier" type="AlbertMage\Notification\Model\Order\Notifier">
        <arguments>
            <argument name="notifiers" xsi:type="array">
                <item name="subscribe_message" xsi:type="object">AlbertMage\WeChat\Model\WeApp\Order\Notifier</item>
            </argument>
        </arguments>
    </virtualType>
</config>