<?xml version="1.0"?>
<!--
/**
 * Copyright © PHPDigital, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="wechat" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>WECHAT</label>
            <tab>albertmage</tab>
            <resource>AlbertMage_WeChat::config</resource>
            <group id="weapp" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>WeChat Miniprogram account - powered by PHPDigital</label>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="appid" translate="label" required="true" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>APPID</label>
                </field>
                <field id="secret" translate="label" required="true" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>SECRET</label>
                </field>
                <field id="token" translate="label" required="true" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>TOKEN</label>
                </field>
                <field id="aes_key" translate="label" required="true" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>AES KEY</label>
                </field>
                <field id="throw" translate="label" required="true" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>THROW</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>状态码非 200、300 时是否抛出异常，默认为开启</comment>
                </field>
                <field id="timeout" translate="label" required="true" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>TIMEOUT</label>
                </field>
                <field id="subscribe_message_active" translate="label comment" sortOrder="7" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>SUBSCRIBE MESSAGE ACTIVE</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="subcribe_message" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Miniprogram Subscribe Message Template</label>
                    <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <group id="order" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                        <label>Order</label>
                        <attribute type="expanded">1</attribute>
                        <!-- New Order -->
                        <field id="order_create_heading" translate="label" sortOrder="1" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>New Order</label>
                            <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                        </field>
                        <field id="order_create_enabled" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Notification Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="order_create_template" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Template Id</label>
                            <comment>New Order Template Id</comment>
                        </field>
                        <field id="order_create_template_preivew" translate="comment label" sortOrder="4" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>Template Preview</label>
                            <comment>New Order Template Preview</comment>
                        </field>
                        <!-- Order Expire Notice -->
                        <field id="order_expire_notice_heading" translate="label" sortOrder="11" showInStore="5" showInWebsite="1" showInDefault="1">
                            <label>Order Expire Notice</label>
                            <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                        </field>
                        <field id="order_expire_notice_enabled" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Notification Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="order_expire_notice_template" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Template Id</label>
                            <comment>Order Expire Notice Template Id</comment>
                        </field>
                        <field id="order_expire_notice_template_preivew" translate="comment label" sortOrder="14" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>Template Preview</label>
                            <comment>Order Expire Notice Template Preview</comment>
                        </field>
                        <!-- Order Cancel -->
                        <field id="order_cancel_heading" translate="label" sortOrder="21" showInStore="9" showInWebsite="1" showInDefault="1">
                            <label>Order Cancel</label>
                            <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                        </field>
                        <field id="order_cancel_enabled" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Notification Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="order_cancel_template" translate="label" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Template Id</label>
                            <comment>Order Cancel Template Id</comment>
                        </field>
                        <field id="order_cancel_template_preivew" translate="comment label" sortOrder="24" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>Template Preview</label>
                            <comment>Order Cancel Template Preview</comment>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>